@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to left,
    rgba(68, 61, 100, 1),
    rgba(101, 130, 198, 0)
  );
  padding-top: 40px;
}
.wrap {
  max-width: calc(1174px + 30px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}
.search {
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50px;
  padding: 5px;
  border: 1px solid wheat;
}
.search .searchTerm {
  /* width: 350px; */
  border: none;
  outline: none;
  width: 300px;
  padding: 8px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  color: black;
}
.searchButton {
  border: none;
  /* padding: 7.5px 5px; */
  font-size: 24px;
  font-weight: 400;
  color: black;
  background: none;
  padding-right: 10px;
}
.cards {
  padding-top: 49px;
  display: flex;
  gap: 55px;
}
.date__time {
  border-radius: 30px;
  background-color: rgba(217, 217, 217, 1);
  display: flex;
  flex-direction: column;
  gap: 29px;
  color: rgba(41, 41, 41, 1);
  box-sizing: border-box;
  padding: 0 30px;
}

.date__time .athens {
  padding-top: 53px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
}
.days__date__time {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  margin: auto;
}
.days__date__time .time {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: 0em;
  text-align: left;
}
.days__date__time .curDate {
  font-family: "Poppins", sans-serif;
  margin-top: -30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.weather__card__details {
  color: white;
  display: flex;
  gap: 15px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 30px;
}
.temp__feel__sun {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 15px 26px 24px 24px;
  align-items: center;
  justify-content: center;
}
.temp__feels__details {
  display: flex;
  flex-direction: column;
}
.temp__details {
  /* font-family: Poppins; */
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: 0em;
  text-align: left;
  background-clip: text;
  -webkit-background-clip: text; /* for older Webkit browsers */
  color: transparent;
  background-image: linear-gradient(
    rgba(41, 41, 41, 1),
    rgba(255, 255, 255, 0)
  );
}
.feels__like {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  /* text-align: center; */
  color: rgba(41, 41, 41, 1);
  margin: auto;
  /* margin-top: -30px; */
}
.feels__like p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  /* text-align: center; */
  /* align-items: center; */
}
.weather__status__details {
  display: flex;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 30px;
  padding: 20px 30px;
}
.weather__status__details i {
  flex: 0 0 80%;
  color: white;
}
.weather__status__details .weather__details {
  flex: 1;
  text-align: center;
  /* font-family: Poppins; */
  font-family: "Poppins", sans-serif;

  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  margin-top: -30px;
  /* text-align: center; */
}
.humidity__pressure__wind__deg {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  margin: auto;
}

.humidity__pressure,
.wind__deg {
  display: flex;
  gap: 40px;
  align-items: center;
}

.weather__status__details i {
  font-size: 190px;
  margin-top: 30px;
}

/*  frequently used*/
.text__data {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
}
.icons__text {
  display: flex;
  gap: 12px;
  align-items: center;
}
.icons__text i {
  font-size: 28px;
  font-weight: 600;
}
.sun__details {
  /* font-family: Poppins; */
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(41, 41, 41, 1);
}
.sun__details__time {
  /* font-family: Poppins; */
  font-family: "Poppins", sans-serif;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(41, 41, 41, 1);
}
.icons__text__cols {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 26px 20px 0 0;
}
.text__data__cols {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.icons__text__cols i {
  font-size: 30px;
  font-weight: 700;
}

.text__data__cols p:nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(41, 41, 41, 1);
}
.text__data__cols p:nth-child(2) {
  /* font-family: Poppins; */
  font-family: "Poppins", sans-serif;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(41, 41, 41, 1);
}
.deg .visibility {
  margin: auto;
}

.sunrise__sunset__details {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.page__loader {
  margin: 100px auto;
}
